<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тест на тип личности</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <div class="home-page">
        <div class="home-page__description">
            <div class="home-page__description__container">
                <div class="home-page__description__container__title">
                    <span>
                        Данный тест на психотип включает в себя вопросы, на которые нужно отвечать быстро, первое, что пришло в голову. Просто выберите наиболее подходящий для себя вариант ответа. После прохождения этого теста ваша жизнь полностью изменится!
                    </span>
                </div>
            </div>
            <div class="home-page__identification">
                <form action="test/" method="get">
                    <div class="home-page__identification__form">
                        <span>Имя</span>
                        <input type="text" name="nickname" id="nickname" required autofocus>
                    </div>
                    <input type="submit" value="пройти тест">
                </form>
            </div>
        </div>
    </div>
    <script src="/views/js/home.js"></script>
</body>
</html>