<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тест на тип личности</title>
    <link rel="stylesheet" href="../../../assets/css/result.css">
</head>
<body>
    <div class="container-title">
        <h1></h1>
    </div>
    <div class="container-result">
        <div class="container-result__img"></div>
        <div class="container-result__state">
            <div class="container-result__state__tag">
                <span>
                    Холерик
                </span>
            </div>
            <div class="container-result__state__percent container-result__state__percent-xol">

            </div>
        </div>
        <div class="container-result__state">
            <div class="container-result__state__tag">
                <span>
                    Сангвиник
                </span>
            </div>
            <div class="container-result__state__percent container-result__state__percent-sang">

            </div>
        </div>
        <div class="container-result__state">
            <div class="container-result__state__tag">
                <span>
                    Флегматик
                </span>
            </div>
            <div class="container-result__state__percent container-result__state__percent-phle">

            </div>
        </div>
        <div class="container-result__state">
            <div class="container-result__state__tag">
                <span>
                    Меланхолик
                </span>
            </div>
            <div class="container-result__state__percent container-result__state__percent-mel">

            </div>
        </div>
    </div>
    <!-- <script src="/views/js/client.js"></script> -->
    <script src="../../../views/js/result.js"></script>
</body>
</html>